body
{
	background-color: #444444;
	height: 1050px;
	margin: 0px;padding: 0px;
	position: absolute;
}
div.container
{
	width: 1200px;height: 1000px;position: absolute;left: 77px;left: 20px;
	background-color: #2a2a2a;
}
div.img
{
	top: 200px;width: 250px;position: absolute;height: 360px;
}
div.link
{
	top: 610px;width: 250px;position: absolute;height: 440px;
}
div.navi
{
	height: 50px;position: absolute;width: 250px;
	font-family: aharoni;border-bottom-style: solid;border-width: 1px;border-top-style: solid;
	border-color: #444444;
}
.navi:hover
{
	background-color: #2980B9;
	color:white;
}
.navi a
{
	text-decoration: none;color:#C9DBDB;
	top: 15px;left: 95px;position: absolute;
}
div.center
{
	left: 251px;top:200px;position: absolute;background-color:#EBEBEB;
	width: 950px;height: 800px;
}
div.side
{
	left: 918;width: 280px;height: 800px;position: absolute;background-color: white;
}

div.sign_up
{
	position:absolute;left:810px;width:390px;height:800px;border-left: ridge;
	color: white;
}
div.people
{
	width: 400px;height: 30px;position: absolute;left: 50px;margin-top: 30px;border-style: ridge;border-width: 4px;
	font-family: georgia;border-color: #2a2a2a;
	font-weight: bold;

}
.people a
{
	text-decoration: none;
}
.people:hover
{
	background-color: #FFFFFF;
	
}
.people button
{
	font-weight: bold;
}
.people button:hover
{
	background-color: #3B5998;
	color: white;
}